src/main/resources/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://timr.com/timrsync"
        xmlns:tns="http://timr.com/timrsync" elementFormDefault="qualified">

    <complexType name="Task">
        <sequence>
            <element name="externalId" type="string" maxOccurs="1"
                     minOccurs="1">
            </element>
            <element name="parentExternalId" type="string" maxOccurs="1"
                     minOccurs="0">
            </element>
            <element name="name" type="string" maxOccurs="1"
                     minOccurs="1">
            </element>
            <element name="description" type="string" maxOccurs="1"
                     minOccurs="0">
            </element>
            <element name="start" type="date" maxOccurs="1"
                     minOccurs="0">
                <annotation>
                    <documentation>
                        task is available from this day on
                    </documentation>
                </annotation>
            </element>
            <element name="end" type="date" maxOccurs="1"
                     minOccurs="0">
                <annotation>
                    <documentation>
                        task is available unitl this day
                    </documentation>
                </annotation>
            </element>
            <element name="bookable" type="boolean" maxOccurs="1"
                     minOccurs="1">
                <annotation>
                    <documentation>
                        defines if it is possible to record time on this
                        task
                    </documentation>
                </annotation>
            </element>
            <element name="billable" type="boolean" maxOccurs="1"
                     minOccurs="1">
            </element>
            <element name="subtasks" type="tns:Task"
                     maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="customField1" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="customField2" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="customField3" type="string" maxOccurs="1" minOccurs="0"></element>
        </sequence>
    </complexType>

    <element name="AddTaskRequest" type="tns:Task"></element>

    <element name="AddTaskResponse" type="long"></element>

    <element name="UpdateTaskRequest" type="tns:Task"></element>

    <element name="UpdateTaskResponse" type="boolean"></element>

    <element name="DeleteTaskRequest" type="string"></element>

    <element name="DeleteTaskResponse" type="boolean"></element>

    <complexType name="User">
        <sequence>
            <element name="externalId" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="login" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="firstname" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="lastname" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="email" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="isAdmin" type="boolean" maxOccurs="1" minOccurs="1"></element>
            <element name="leaved" type="date" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>date when user leaved company, after this date this user is not allowed to log
                        in anymore</documentation>
                </annotation>
            </element>
            <element name="workingHours" type="decimal" maxOccurs="1" minOccurs="0">
                <annotation>
                    <documentation>number of working hours per week</documentation>
                </annotation>
            </element>
            <element name="isTeamLeader" type="boolean" maxOccurs="1" minOccurs="0" default="false"></element>
        </sequence>
    </complexType>

    <element name="AddUserRequest" type="tns:User"></element>

    <element name="AddUserResponse" type="long"></element>

    <element name="UpdateUserRequest" type="tns:User"></element>

    <element name="UpdateUserResponse" type="boolean"></element>

    <element name="DeleteUserRequest" type="string"></element>

    <element name="DeleteUserResponse" type="boolean"></element>

    <element name="AssignTaskToUserRequest">
        <complexType>
            <sequence>
                <element name="externalUserId" type="string" maxOccurs="1" minOccurs="0"></element>
                <element name="externalTaskId" type="string" maxOccurs="1" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="AssignTaskToUserResponse" type="boolean"></element>

    <element name="RemoveTaskFromUserRequest">
        <complexType>
            <sequence>
                <element name="externalUserId" type="string" maxOccurs="1" minOccurs="0"></element>
                <element name="externalTaskId" type="string" maxOccurs="1" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="RemoveTaskFromUserResponse" type="boolean"></element>

    <complexType name="WorkTime">
        <complexContent>
            <extension base="tns:Record">
                <sequence>
                    <element name="externalWorkItemId" type="string" maxOccurs="1" minOccurs="1"></element>
                    <element name="description" type="string" maxOccurs="1" minOccurs="0"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ProjectTime">
        <complexContent>
            <extension base="tns:Record">
                <sequence>
                    <element name="externalTaskId" type="string" maxOccurs="1" minOccurs="1"></element>
                    <element name="description" type="string" maxOccurs="1" minOccurs="0"></element>
                    <element name="billable" type="boolean" maxOccurs="1" minOccurs="1"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DriveLog">
        <complexContent>
            <extension base="tns:Record">
                <sequence>
                    <element name="externalCarId" type="string" maxOccurs="1" minOccurs="1"></element>
                    <element name="startMileage" type="long" maxOccurs="1" minOccurs="1"></element>
                    <element name="endMileage" type="long" maxOccurs="1" minOccurs="1"></element>
                    <element name="route" type="string" maxOccurs="1" minOccurs="0"></element>
                    <element name="purpose" type="string" maxOccurs="1" minOccurs="0"></element>
                    <element name="visited" type="string" maxOccurs="1" minOccurs="0"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Record">
        <sequence>
            <element name="id" type="long" maxOccurs="1" minOccurs="1"></element>
            <element name="externalUserId" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
            <element name="startTimeZone" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="endTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
            <element name="endTimeZone" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="duration" type="long" maxOccurs="1" minOccurs="1"></element>
            <element name="startPosition" type="tns:Position" maxOccurs="1" minOccurs="0"></element>
            <element name="endPosition" type="tns:Position" maxOccurs="1" minOccurs="0"></element>
            <element name="closed" type="boolean" maxOccurs="1" minOccurs="1"></element>
            <element name="changed" type="boolean" maxOccurs="1" minOccurs="1"></element>
            <element name="lastModifiedTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
            <element name="lastModifiedTimeZone" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="breakTime" type="int" maxOccurs="1" minOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="RecordQuery">
        <sequence>
            <element name="externalUserId" type="string" maxOccurs="1"
                     minOccurs="0">
            </element>
            <element name="start" type="dateTime" maxOccurs="1"
                     minOccurs="0">
            </element>
            <element name="end" type="dateTime" maxOccurs="1"
                     minOccurs="0">
            </element>
            <element name="lastModified" type="dateTime" maxOccurs="1" minOccurs="0"></element>
            <element name="closed" type="boolean" maxOccurs="1"
                     minOccurs="0">
            </element>
        </sequence>
    </complexType>

    <complexType name="WorkTimeQuery">
        <complexContent>
            <extension base="tns:RecordQuery">
                <sequence>
                    <element name="externalWorkItemId" type="string"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="description" type="string"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="statuses" type="tns:WorkTimeStatus" maxOccurs="unbounded" minOccurs="0"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ProjectTimeQuery">
        <complexContent>
            <extension base="tns:RecordQuery">
                <sequence>
                    <element name="externalTaskId" type="string"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="description" type="string"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="billable" type="boolean"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="statuses" type="tns:ProjectTimeStatus" maxOccurs="unbounded" minOccurs="0"></element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DriveLogQuery">
        <complexContent>
            <extension base="tns:RecordQuery">
                <sequence>
                    <element name="externalCarId" type="string"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="route" type="string" maxOccurs="1"
                             minOccurs="0">
                    </element>
                    <element name="purpose" type="string" maxOccurs="1"
                             minOccurs="0">
                    </element>
                    <element name="visited" type="string" maxOccurs="1"
                             minOccurs="0">
                    </element>
                    <element name="business" type="boolean"
                             maxOccurs="1" minOccurs="0">
                    </element>
                    <element name="statuses" type="tns:DriveLogStatus"
                             maxOccurs="unbounded" minOccurs="0">
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="GetWorkTimesRequest" type="tns:WorkTimeQuery" />

    <element name="GetWorkTimesResponse">
        <complexType>
            <sequence>
                <element name="workTimes" type="tns:WorkTime" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="GetProjectTimesRequest" type="tns:ProjectTimeQuery" />

    <element name="GetProjectTimesResponse">
        <complexType>
            <sequence>
                <element name="projectTimes" type="tns:ProjectTime" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="GetDriveLogsRequest" type="tns:DriveLogQuery" />

    <element name="GetDriveLogsResponse">
        <complexType>
            <sequence>
                <element name="driveLogs" type="tns:DriveLog" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>


    <complexType name="Position">
        <sequence>
            <element name="id" type="long" maxOccurs="1" minOccurs="1"></element>
            <element name="latitude" type="double" maxOccurs="1" minOccurs="1"></element>
            <element name="longitude" type="double" maxOccurs="1" minOccurs="1"></element>
        </sequence>
    </complexType>

    <element name="GetTasksRequest" />

    <element name="GetTasksResponse">
        <complexType>
            <sequence>
                <element name="tasks" type="tns:Task" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="GetUsersRequest" />

    <element name="GetUsersResponse">
        <complexType>
            <sequence>
                <element name="users" type="tns:User" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>


    <complexType name="WorkItem">
        <sequence>
            <element name="externalId" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="description" type="string" maxOccurs="1" minOccurs="0"></element>
        </sequence>
    </complexType>


    <element name="AddWorkItemRequest" type="tns:WorkItem"></element>

    <element name="AddWorkItemResponse" type="long"></element>

    <element name="UpdateWorkItemRequest" type="tns:WorkItem"></element>

    <element name="UpdateWorkItemResponse" type="boolean"></element>

    <element name="DeleteWorkItemRequest" type="string"></element>

    <element name="DeleteWorkItemResponse" type="boolean"></element>

    <element name="GetWorkItemsRequest" />

    <element name="GetWorkItemsResponse">
        <complexType>
            <sequence>
                <element name="workItem" type="tns:WorkItem" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <complexType name="Car">
        <sequence>
            <element name="externalId" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
            <element name="plate" type="string" maxOccurs="1" minOccurs="1"></element>
        </sequence>
    </complexType>

    <element name="AddCarRequest" type="tns:Car"></element>

    <element name="AddCarResponse" type="long"></element>

    <element name="UpdateCarRequest" type="tns:Car"></element>

    <element name="UpdateCarResponse" type="boolean"></element>

    <element name="DeleteCarRequest" type="string"></element>

    <element name="DeleteCarResponse" type="boolean"></element>

    <element name="GetCarsRequest" />

    <element name="GetCarsResponse">
        <complexType>
            <sequence>
                <element name="cars" type="tns:Car" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="AssignCarToUserRequest">
        <complexType>
            <sequence>
                <element name="externalUserId" type="string" maxOccurs="1" minOccurs="0"></element>
                <element name="externalCarId" type="string" maxOccurs="1" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="AssignCarToUserResponse" type="boolean"></element>

    <element name="RemoveCarFromUserRequest">
        <complexType>
            <sequence>
                <element name="externalUserId" type="string" maxOccurs="1" minOccurs="0"></element>
                <element name="externalCarId" type="string" maxOccurs="1" minOccurs="0"></element>
            </sequence>
        </complexType>
    </element>

    <element name="RemoveCarFromUserResponse" type="boolean"></element>

    <element name="LockProjectTimesRequest" type="tns:LockProjectTimesRequestType"></element>

    <element name="LockProjectTimesResponseType" type="boolean"></element>

    <complexType name="LockProjectTimesRequestType">
        <sequence>
            <element name="ids" type="long" maxOccurs="unbounded" minOccurs="0"></element>
        </sequence>
    </complexType>

    <element name="UnlockProjectTimesRequest" type="tns:LockProjectTimesRequestType"></element>

    <element name="UnlockProjectTimesResponseType" type="boolean"></element>

    <simpleType name="WorkTimeStatus">
        <restriction base="string">
            <enumeration value="CHANGEABLE"/>
            <enumeration value="LOCKED"/>
            <enumeration value="CLOSED"/>
        </restriction>
    </simpleType>

    <simpleType name="ProjectTimeStatus">
        <restriction base="string">
            <enumeration value="CHANGEABLE"/>
            <enumeration value="LOCKED"/>
            <enumeration value="CLEARED"/>
            <enumeration value="CLOSED"/>
        </restriction>
    </simpleType>

    <simpleType name="DriveLogStatus">
        <restriction base="string">
            <enumeration value="CHANGEABLE"/>
            <enumeration value="LOCKED"/>
            <enumeration value="CLEARED"/>
            <enumeration value="CLOSED"/>
        </restriction>
    </simpleType>
</schema>